.public-content-warpper {
  margin: 10px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 4px 0 hsla(0, 0%, 78.4%, 0.5);
  display: flex;
  flex-direction: column;
  & > .list-header {
    height: 66px;
    padding: 0 10px;
    color: #595961;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .page-name {
      font-weight: 700;
      line-height: 20px;
      font-size: 14px;
    }
  }
  & > .public-content-body {
    margin: 0 10px 10px;
    padding: 10px;
    & > .public-search-warpper {
      border-radius: 5px;
      margin-bottom: 10px;
      padding: 10px;
      background-color: #fff;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .ant-btn {
        margin-right: 10px;
      }
      .ant-select {
        margin-right: 10px;
      }
    }
  }
  & > .public-bg-gray {
    background: #f2f2f6 !important;
    border-radius: 5px !important;
  }
}
