.situation-warpper {
  margin-top: 15px;
  .information {
    height: 150px;
    margin: 0px 15px;
    .information-item {
      height: 150px;
      & > span:nth-of-type(1) {
        color: #2589ff;
        font-weight: 700;
        font-size: 22px;
      }

      & > span:nth-of-type(2) {
        margin-top: 15px;
        font-weight: 700;
        font-size: 15px;
      }
    }
  }
  .common {
    margin: 0px 15px;
    margin-top: 15px;
    padding: 10px;
    & > .title {
      height: 50px;
      padding-top: 10px;
      margin-bottom: 10px;
      font-weight: bold;
      font-size: 14px;
    }

    & > .content {
      padding: 0px 20px;
      padding-bottom: 10px;
      .common-item {
        margin-right: 40px;
        img {
          width: 64px;
        }
        span {
          margin-top: 5px;
          font-size: 14px;
          text-align: center;
        }
      }
    }
  }

  .marketing {
    margin: 0px 15px;
    margin-top: 15px;
    padding: 10px;
    & > .title {
      height: 50px;
      padding-top: 10px;
      margin-bottom: 10px;
      font-weight: bold;
      font-size: 14px;
    }
    .marketing-item {
      border: 1px solid #dddce2;
      height: 84px;
      padding: 10px;
      margin-bottom: 30px;
      img {
        width: 64px;
        height: 64px;
      }
      .item-content {
        margin-left: 10px;
        span:nth-of-type(1) {
          color: #595961;
          font-size: 16px;
          margin-bottom: 10px;
        }
        span:nth-of-type(2) {
          color: #a8a8b0;
          font-size: 12px;
        }
      }
    }
  }
}
