.ant-layout {
  height: 100vh;
  background: #fafafa;
  .ant-layout-header {
    background-color: #fff;
    height: 50px;
    line-height: 50px;
    box-shadow: 0 2px 15px 0 rgba(15, 12, 70, 0.1);
    padding: 0px 20px;
  }
  .ant-layout-sider {
    overflow: hidden;
  }
  .ant-layout-content {
    display: flex;
  }
}

.layout-second-nav {
  padding: 10px;
  padding-right: 0px;
  width: 130px;
  .second-item {
    font-size: 12px;
    padding-right: 15px;
    .second-item-title {
      padding: 15px 10px;
      font-weight: bold;
    }
    .second-item-list {
      & > div {
        padding: 13px 10px;
        cursor: pointer;
        position: relative;
        &.active {
          color: #35323b;
          background: #e9eaf0;
          border-radius: 6px;
          &::after {
            content: '';
            width: 0px;
            height: 0px;
            border: 5px solid transparent;
            border-left: 5px solid #000;
            position: absolute;
            right: 4px;
            top: 50%;
            transform: translateY(-50%);
          }
        }
      }
    }
    .line {
      margin: 12px 10px;
      height: 1px;
      background-color: #e3e2e5;
    }
  }
}

.content-warpper {
  flex: 1;
}
